<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>367803077959-ecr2rap9nrea21df78fqolv74b8ha5al.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.367803077959-ecr2rap9nrea21df78fqolv74b8ha5al</string>
	<key>API_KEY</key>
	<string>AIzaSyBKzvoeOU-fg4DvUFnpZEd85R6zHh8MVB4</string>
	<key>GCM_SENDER_ID</key>
	<string>367803077959</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jihyun.Memo</string>
	<key>PROJECT_ID</key>
	<string>memo-5d00e</string>
	<key>STORAGE_BUCKET</key>
	<string>memo-5d00e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:367803077959:ios:9c595498b62d896fdf6862</string>
</dict>
</plist>